# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code
.vscode/

# Visual Studio
.vs/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Publish folder
publish/