main{
    width: 100%;
    height: fit-content;
}
.about-me-section{
    display:flex;
    flex-direction:row;
    margin-bottom:5vh;
    margin: 0vw 10vh;
    gap:10vw;
}
.pargraph-section{
    display: flex;
    flex-direction: column;
    gap: 5vh;
}
h2{
    color:var( --mainfont-color);
    font-weight: 500;
    margin-top: 5vh;
}
p{
    color:var(--Third-text-color);
    font-weight: 400;
    font-style: oblique;
    word-spacing: 0.2vw;
    line-height: 1.8;
    /* text-shadow: 0 0 8px rgba(138, 12, 255, 0.922); */
    font-size: 1rem;
}
.animation-section{
  margin-right: 8vw;
  margin-top: 5vh;
}
