<main>
    <div class="about-me-section">
        <div class="pargraph-section">
            <h2>About Me</h2>
            <p>
                 A .NET developer focused on building clean, scalable applications<br> and bringing ideas to life. 
                <br>I enjoy creating structured systems, writing maintainable code, and continuously improving<br> how things work behind the scenes. 
                <br>Working across both frontend and backend, I build complete, well-integrated applications <br>with a focus on performance and usability.
                <br>Always learning, refining, and building with purpose.
            </p>
        </div>
        <div class="animation-section">
            <dotlottie-wc
                src="https://lottie.host/aa2454ed-4373-4875-94e0-05f9cfbb1cdd/FiAhrwAqUw.lottie"
                style="width: 320px; height: 320px"
                autoplay
                loop>
            </dotlottie-wc>
        </div>
    </div>
</main>