main{
    width:100vw;
    height:fit-content;
    background-color:blue;
    padding:10vh 0 10vh 0;
}
.container{
    display:flex;
    flex-direction:column;
    align-items: center;
}
.title{
    color:var(--mainfont-color);
}
.ex-element{
    width:80vw;
    height:fit-content;
    background-color:red;
    padding:5px;
}
.add-ex{
    display: flex;
    justify-content: center;
    align-items: center;
    width:70%;
    background-color: aquamarine;
}
.admin-btn{
    display:flex;
    flex-direction: row;    
    background-color:yellow;
    height: 7vh;
    justify-content:space-between;
}
