<main >
    <div class="main-content">
        <div class="badge">
            Available for new Projects
        </div>
        <h1 calss="welcoming-phrase">
            Hi I'm <span>Rafaa</span>
        </h1>
        <h3>Full-Stack Developer</h3>
        <p>Building scalable solutions and bringing ideas to  life through code.</p>
        <div class="nav-btn">
            <a href="#projects" class="btn primary">View My Work</a>
            <a href="#contact" class="btn secondary">Get In Touch</a>
        </div>
    </div>
</main>