*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.page{
  display: flex;
  flex-direction: column;
  background-color: #290346;
  width: 100%;
  height: 100vh;
}
.navbar{
  position: sticky;
  top: 0;
  z-index: 100;

}