@page "/main"
@inject IJSRuntime JS
<div class="page">
    <div class="navbar">
        <NavMenuBar />  
    </div>
    <section class="Home-Section" id="home">
        <Home />
    </section >
    <section class="About-section" id="aboutme">
        <About />
    </section>
    <section class="Skils-section" id="skils">
        <SkilsSec />
    </section>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("initNavObserver");
        }
    }
}