@page "/main"
<div class="page">
    <div class="navbar">
        <NavMenuBar />  
    </div>
    <div class="Home-Section" id="home">
        <Home />
    </div>
    <main class="About-section" id="aboutme">
        <About />
    </main>
    <main class="Skils-section" id="skils">
        <SkilsSec />
    </main>
</div>