<nav class="navigation-bar">
    <div class="logo">
        RafaaOmar
    </div>
    <ul class="nav-group">
        <li><a href="#home">Home</a></li>
        <li><a href="#aboutme">About</a></li>
        <li><a href="#skils">Skils</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="">Contact</a></li>
    </ul>
</nav>