html {
  scroll-behavior: smooth;
}
.navigation-bar{
    width:100%;
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav-group{
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-right:6vw ;
    justify-content: space-around;
    gap:2.3vw;
    padding-top:2.3vh;
}
.nav-group li a{
    font-style:italic;
    color: var(--mainfont-color);
    text-decoration: none;
}
.logo{
    color: var(--Secondary-background-color);
    padding:1.5vh 0 0 6vw;
    font-size: 1.7rem;
    font-family: "Brush Script MT", cursive;
}
/*insted of hover try other way */
.nav-group li a:hover{ 
color: var(--Secondary-background-color); 
}
/* nav:has(#home:target) a[href="#home"]{       //for coloring nav bar later
  color: #F6DBC0;
  font-weight: bold;
} */