<main>
    <div class="content">
        <h2 class="title">My Projects</h2>
        <p class="title-p">This section highlights a collection of projects I have developed to demonstrate my technical skills and understanding of software development. Each project focuses on building practical and efficient solutions using modern tools and technologies.</p>
        <div class ="card">
            <input type="image" />
            <h4 class ="proj-name"></h4>
            <p calss="proj-description"></p>
            <div class=proj-skills>
                <div>
                    <input type="text" />
                </div>
            </div>
        </div>
    </div>
</main>