main{
    width:100%;
    height:fit-content;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vh 5vw;
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-color:rgba(128, 128, 128, 0.139);
}
.title{
    color:var(--mainfont-color);
    font-weight: bold;
}
.title-p{
    text-align: center;
    color:var(--Third-text-color);
    margin:0 8vw 7vh 8vw;
}
.card-container{
    width: fit-content;
    height:fit-content;
    display: flex;
    flex-direction: row;
    overflow:hidden;
    flex-wrap: wrap;
    row-gap: 4vw;
    background-color: var(--main-background);
    border-radius: 15px;
    gap:5vw;
}
.card{
    width:25vw;
    height:80vh;
    background-color: transparent;
    border-radius: 15px;
    box-shadow:inset 0px 0px 8px rgba(138, 12, 255, 0.922);
    border:none;
}
.proj-image{
    width:100%;
    height:26vh;
    border-radius: 15px 15px 0 0;
}
.control-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position:relative;
}
.control-image button{
    position:absolute;
    background-color: rgba(52, 50, 50, 0.151);
    color: var(--main-background);
    border:none;
    font-size: 2rem;
    padding: 0;            
    width: fit-content;    
    height: fit-content;
    display: flex;   
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    transition: 0.3s;
}
.ctrl-image-left{
    left: 1vw;
}
.ctrl-image-right{
    right:1vw;
}
.control-image button:hover{
    color:#b64fc4;
    transform: scale(1.1);
}
.image-upload{
    padding-left:3vw;
    color:red;
    font-size: 0.8rem;
    margin:2vh 0vw;
}
.btn-add{
    margin:3vh 0 3vh 0;
    background-color:var(--Secondary-background-color);
    border:none;
    height:5vh;
    width:fit-content;
    box-shadow: inset 0px 0px 3px  rgba(138, 12, 255, 0.922);
}
.del-btn{
    position: absolute;
    bottom:35vh;
    background-color:rgba(174, 172, 172, 0.701);
    right:1.2vw;
    font-size: 1rem;
    color:black;
}
.del-proj-btn{
    width:fit-content;
    height:fit-content;
    background-color:var(--Secondary-background-color) ;
    box-shadow:  inset 0px 0px 8px  rgba(138, 12, 255, 0.922);
    position: absolute;
    right:0;
    bottom:0;
    margin:2vh 1vw;
    color: red;
}
.proj-name{
    display:flex;
    flex-direction: row;
    position:relative;
    margin:4vh 1.5vw 0 1.5vw;
}
.alter-btn{
    position:absolute;
    right:6.1vw;
    display: flex;
    top:0.5vh;
}
.proj-input{
    width: 100%;
    overflow: hidden;
}
.proj-name .save,
.proj-name .delete-btn{
    border:none;
    background:transparent;
}
.proj-title{
    color:var(--mainfont-color);
    font-style:italic;
    font-weight:500px;
    padding:0vw 1vw;
}
.proj-description{
    width: 100%;
    overflow: hidden;
    position:relative;
}
.proj-textarea{
    margin-left:1.6vw;
    width:90%;
}
.proj-description .alter-btn{
    position: absolute;
    right:1vw;
}
.proj-view-description{
    color:var(--Third-text-color);
    height:fit-content;
    width:90%;
    margin-left: 1.5vw;
    font-size: 0.85rem;
}
.proj-skills{
    width:100%;
    height:fit-content;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin:0vw 1vw;
    row-gap: 1.2vh;
}
.skill-item{
    background-color: transparent;
    box-shadow:  inset 0px 0px 8px  rgba(138, 12, 255, 0.922);
    position:relative;
    width:fit-content;
    color:var(--mainfont-color);
    font-size: 0.9rem;
    padding:7px 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin-right: 0.5vw;
}
.alter-btn-skill{
    position:absolute;
    display: flex;
    flex-direction: row;       
    right:0;
}
.alter-btn-skill button{
    border:none;
    background-color:transparent;
}
