main{
    width:100%;
    height:fit-content;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vh 5vw;
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-color:rgba(128, 128, 128, 0.139);
}
.title{
    color:var(--mainfont-color);
    font-weight: bold;
}
.title-p{
    text-align: center;
    color:var(--Third-text-color);
    margin:0 8vw 7vh 8vw;
}
.card-container{
    width: fit-content;
    height:fit-content;
    display: flex;
    flex-direction: row;
    overflow:hidden;
    flex-wrap: wrap;
    row-gap: 4vw;
    background-color: var(--main-background);
    border-radius: 15px;
    gap:5vw;
}
.card{
    width:25vw;
    height:60vh;
    background-color: transparent;
    border-radius: 15px;
    box-shadow:inset 0px 0px 8px rgba(138, 12, 255, 0.922);
    border:none;
}
.proj-image{
    width:18vw;
    height:26vh;
    border-radius: 15px;
    margin:2vw 0vh;
}
.control-image{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:3px;
}
.control-image button{
    width: fit-content;
    height:fit-content;
    background-color: inherit;
    color: var(--Secondary-background-color);
    border:none;
    font-size: 1.3rem;
    border-radius: 20px;
    box-shadow:inset 0 0 3px  rgba(138, 12, 255, 0.922);
}
.control-image button:hover{
    background-color: var(--Secondary-background-color);
    color:#502D55;
}
.image-upload{
    padding-left:7vw;
    color:brown;
    font-size: 0.8rem;
    margin:1vh 0vw;
}

.btn-add{
    margin:3vh 0 3vh 0;
    background-color:var(--Secondary-background-color);
    border:none;
    height:5vh;
    width:fit-content;
    box-shadow: inset 0px 0px 3px  rgba(138, 12, 255, 0.922);
}
.del-btn{
    position: absolute;
    top:5vh;
    background-color:rgba(174, 172, 172, 0.701);
    left:18vw;
    font-size: 1rem;
    color:black;
}
.del-proj-btn{
    width:fit-content;
    height:fit-content;
    background-color:var(--Secondary-background-color) ;
    box-shadow:  inset 0px 0px 8px  rgba(138, 12, 255, 0.922);
    position: absolute;
    right:0;
    bottom:0;
    margin:2vh 1vw;
    color: red;
}