main{
    width:100%;
    height:fit-content;
    background-color:blue;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vh 5vw;
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-color:var(--Third-text-color);
}
.title{
    color:var(--mainfont-color);
    font-weight: bold;
}
.title-p{
    display: flex;
    align-items: center;
    color:var(--Third-text-color);
    margin:0 8vw 0 8vw;
}