<main>
    <div class="skils-section">
        <h2>Skills & Technologies </h2>
        <div class="skills-containers">
            <div class="front-back-tool-sec">
                <h5>Frontend</h5>
                <div class="hole-skills">
                    <h6 class="skill">C#</h6>
                    <h6 class="skill">html</h6>
                </div>
            </div>

             <div class="front-back-tool-sec">
                <h5>Backend</h5>
                <div class="hole-skills">
                    <h6 class="skill">ss</h6>
                </div>
            </div>

             <div class="front-back-tool-sec">
                <h5>Tools & Databases</h5>
                <div class="hole-skills">
                    <h6 class="skill">ss</h6>
                </div>
            </div>
        </div>
    </div>
</main>
@* @code{
    [Parameter] public string Skill;
} *@