@using Microsoft.AspNetCore.Components.Authorization

<main>
    <div class="skils-section">
        <h2>Skills & Technologies </h2>
        <div class="skills-containers">
            
            <div class="front-back-tool-sec">
                <div class="header">
                    <h5>Frontend</h5>
                    <AuthorizeView Roles="Admin">
                        <Authorized>
                            <button class="btn-add">Add</button>
                        </Authorized>
                    </AuthorizeView>
                </div>
                <div class="hole-skills">
                    <div class="myS">
                        <span class="skill">C#</span>
                        <span class="skill">html</span>
                        <span class="skill">lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.</span>
                    </div>
                </div>
            </div>

             <div class="front-back-tool-sec">
                <div class="header">
                    <h5>Backend</h5>
                    <AuthorizeView Roles="Admin">
                        <Authorized>
                            <button class="btn-add">Add</button>
                        </Authorized>
                    </AuthorizeView>
                </div>
                <div class="hole-skills">
                     <div class="myS">
                        <span class="skill">C#</span>
                        <span class="skill">html</span>
                        <span class="skill">lorem  Quisquam, quod.</span>
                    </div>
                </div>
            </div>
            <div class="front-back-tool-sec">
                <div class="header">
                    <h5>Tools & Databases</h5>
                    <AuthorizeView Roles="Admin">
                        <Authorized>
                            <button class="btn-add">Add</button>
                        </Authorized>
                    </AuthorizeView>
                </div>
                <div class="hole-skills">
                    <h6 class="skill">ss</h6>
                </div>
            </div>
        </div>
    </div>
</main>
@code{
    public string Skill;
}
